@import "tailwindcss";

* {
  font-family:
    Geist Mono,
    monospace;
}
* {
  font-family:
    Geist Mono,
    monospace !important;
}
html {
  font-family: "Geist Mono", monospace;
}
body {
  min-height: 100vh;
  font-family: "Geist Mono", monospace;
  transition:
    background 300ms ease,
    color 300ms ease;
}
